<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(href="style.css" rel="stylesheet")
  title Regex Tester
body
  h1 Regex Tester
  
  form
    .string-regex
      textarea#string(placeholder="String" value="unicorns and rainbows and Vegan Cupcakes")
      input#regex(placeholder="Regular Expresion")
    .select-button
      select#flag
        option(value="") None
        option(value="g", selected="selected") Global
        option(value="i") Ignore Case
      button#btn(type="button") Submit
    textarea#text(cols="30" rows="10" placeholder="Result")
    
  script(src="script-min.js")
  
